<table class='table'>
  <thead>
    <tr>
      <th scope='col'>id</th>
      <th scope='col'>Название</th>
    </tr>
  </thead>
  <tbody>
    {{#each models}}
      <tr>
        <td> {{id}} </td>
        <td> {{title}} </td>
      </tr>
    {{/each}}
  </tbody>
</table>